@model PaginatedList<Chinook.Models.DetalleFactura>

@{
    ViewData["Title"] = "Index";
}

<h1>Detalle Factura</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Detalle Factura: <input type="text" name="SearchString" placeholder="Escriba el nombre de la cancion" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Buscar" class="btn btn-default" /> |
            <a asp-action="Index">regresar a toda la lista</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Precio Unidad
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Cancion
            </th>
            <th>
                Factura
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioUnidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cancion.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Factura.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Atras
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Siguiente
</a>